# IMBD Movie Project

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("IMDB_Movie_Data.csv")
data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [3]:
data.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [4]:
data.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [5]:
data["Revenue"] = data["Revenue (Millions)"].fillna(data["Revenue (Millions)"].mean())
data["Metascore"] = data["Metascore"].fillna(data["Metascore"].mean())

In [6]:
data["Runtime"] = data["Runtime (Minutes)"]
data = data.drop(["Runtime (Minutes)","Revenue (Millions)"],axis=1)

In [7]:
data.isnull().sum()

Rank           0
Title          0
Genre          0
Description    0
Director       0
Actors         0
Year           0
Rating         0
Votes          0
Metascore      0
Revenue        0
Runtime        0
dtype: int64

In [8]:
data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Rating,Votes,Metascore,Revenue,Runtime
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,8.1,757074,76.0,333.13,121
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,7.0,485820,65.0,126.46,124
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,7.3,157606,62.0,138.12,117
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,7.2,60545,59.0,270.32,108
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,6.2,393727,40.0,325.02,123

In [9]:
data.corr()

,Rank,Year,Rating,Votes,Metascore,Revenue,Runtime
Rank,1.000000,-0.261605,-0.219555,-0.283876,-0.185159,-0.252996,-0.221739
Year,-0.261605,1.000000,-0.211219,-0.411904,-0.076077,-0.117562,-0.164900
Rating,-0.219555,-0.211219,1.000000,0.511537,0.604723,0.189527,0.392214
Votes,-0.283876,-0.411904,0.511537,1.000000,0.318116,0.607941,0.407062
Metascore,-0.185159,-0.076077,0.604723,0.318116,1.000000,0.132304,0.202239
Revenue,-0.252996,-0.117562,0.189527,0.607941,0.132304,1.000000,0.247834
Runtime,-0.221739,-0.164900,0.392214,0.407062,0.202239,0.247834,1.000000

In [10]:
data.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Rating', 'Votes', 'Metascore', 'Revenue', 'Runtime'],
      dtype='object')

## Movies directed by 'James Gunn', & 'Ridley Scott' with the rating greater than or equal to 8.

In [11]:
Movies_of_James_and_Ridley_with_Rating = data["Title"][data["Director"].apply(lambda x: x=="James Gunn" or x=="Ridley Scott")][data["Rating"]>=8]
Movies_of_James_and_Ridley_with_Rating

0      Guardians of the Galaxy
102                The Martian
Name: Title, dtype: object

##  All the movies directed by 'Ridley Scott'.

In [12]:
movies_of_Ridley_Scott = data["Title"][data["Director"].apply(lambda x: x=="Ridley Scott")]
movies_of_Ridley_Scott

1                  Prometheus
102               The Martian
387                Robin Hood
470         American Gangster
516    Exodus: Gods and Kings
521             The Counselor
530               A Good Year
737              Body of Lies
Name: Title, dtype: object

## All the director's who got the rating >= 8 for their movies.

In [13]:
Director_with_rating = data["Director"][data["Rating"]>=8]
Director_with_rating

0                James Gunn
6           Damien Chazelle
16               Mel Gibson
18              Garth Davis
19         Denis Villeneuve
               ...
742    Juan JosÃ© Campanella
765         Rajkumar Hirani
772            Dean DeBlois
861            Naoko Yamada
991              Aamir Khan
Name: Director, Length: 78, dtype: object

## All the movies directed by 'James Gunn', & 'Ridley Scott'.

In [14]:
Movies_of_James_and_Ridley = data["Title"][data["Director"].apply(lambda x: x=="James Gunn" or x=="Ridley Scott")]
Movies_of_James_and_Ridley

0      Guardians of the Galaxy
1                   Prometheus
102                The Martian
387                 Robin Hood
470          American Gangster
516     Exodus: Gods and Kings
521              The Counselor
530                A Good Year
737               Body of Lies
908                    Slither
937                      Super
Name: Title, dtype: object

## Films with the highest rating

In [15]:
Highest_Rating_movie = data["Title"].max()
Highest_Rating_movie

'Zootopia'

## All the movies with the ratings between 8 & 9

In [16]:
movie_with_rating_8_9 = data["Title"][data["Rating"].apply(lambda x: x>=8 or x<=9)]
movie_with_rating_8_9.value_counts().sum()

1000

## Movies directed by 'Christopher Nolan' and 'Ridley Scott'

In [17]:
Movies_of_Christopher_and_Ridley = data["Title"][data["Director"].apply(lambda x: x=="Christopher Nolan" or x=="Ridley Scott")]
Movies_of_Christopher_and_Ridley

1                  Prometheus
36               Interstellar
54            The Dark Knight
64               The Prestige
80                  Inception
102               The Martian
124     The Dark Knight Rises
387                Robin Hood
470         American Gangster
516    Exodus: Gods and Kings
521             The Counselor
530               A Good Year
737              Body of Lies
Name: Title, dtype: object

## All movies that were released between 2006 and 2010, have a rating above 8.0, but made below the 50th percentile in revenue.

In [18]:
movie_released_2006_to_2010 = data["Title"][data["Year"].apply(lambda x: x>=2006 and x<=2010)][data["Rating"]>8][data['Revenue'] < data['Revenue'].quantile(0.50)]
movie_released_2006_to_2010

64               The Prestige
197             Into the Wild
230           Pan's Labyrinth
299       There Will Be Blood
430                  3 Idiots
476       The Lives of Others
713                 Incendies
742    El secreto de sus ojos
991          Taare Zameen Par
Name: Title, dtype: object

## All movies that were released between 2006 and 2010, have a rating above 8.0, but made below the 25th percentile in revenue.

In [19]:
movie_released_2006_to_2010 = data["Title"][data["Year"].apply(lambda x: x>=2006 and x<=2010)][data["Rating"]>8][data['Revenue'] < data['Revenue'].quantile(0.25)]
movie_released_2006_to_2010

430               3 Idiots
476    The Lives of Others
713              Incendies
991       Taare Zameen Par
Name: Title, dtype: object

## Feedback for all movies with 'Good' if the movie 'rating' is >= 8 and 'Average' if the movie rating doesn't follow the condition given.

In [20]:
def feedback(x):
    if x>=8:
        return "Good"
    else:
        return "Average"

In [21]:
data["feedback"] = data["Rating"].apply(feedback)
data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Rating,Votes,Metascore,Revenue,Runtime,feedback
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,8.1,757074,76.0,333.13,121,Good
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,7.0,485820,65.0,126.46,124,Average
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,7.3,157606,62.0,138.12,117,Average
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,7.2,60545,59.0,270.32,108,Average
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,6.2,393727,40.0,325.02,123,Average